@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  body{
    font-family: Poppins;
    background-color: #eeeeee;
  }

  /* Both Pages */

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #042940;
    height: 20vh;
    align-items: center;
}

.navImage{
    margin-left: 30px;
}

.navPages{
    margin-right: 20px;
}

.navPages a{
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    color: white;
}

/* Argentina Page */

.options{
    margin: 0 auto;
    height: 20vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: grid;
    place-content: center;
    background-color: #042940;
    width:8vw;
    height:8vh;
    border-radius: 1.5em;
}

.button a{
    color:white
}

.nationalTeam{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    width:30vw;
}

.nationalTeam img{
    height: 15vh;
}

.nationalTeam span{
    height: 3vh;
    font-weight: 700;
    font-size: larger;
}

.nationalTeam a{
    margin-top: 1.5vh;
    display: grid;
    place-content: center;
    background-color: #042940;
    color:white;
    width:12vw;
    height:5vh;
    border-radius: 1.5em;
}

.matchResults{
    width: 90vw;
    height: auto;
    margin:2vh auto
}

.matchBox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 30vh;
    width:60vw;
    background-color: white;
    border-radius: 1em;
}

.matchBox h3 {
    margin-top: 1vh;
    height: 6vh;
    width: 60vw;
    text-align: center;
}

#matchScores {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    gap: 1vw;
    height: 24vh;
    width: 60vw;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

/* .matchScores:hover {
    border-radius: 1em;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    height: 48vh;
    margin:0 auto 2vh auto;
} */

#matchScores button {
    font-family: Poppins;
    font-size: large;
    cursor: pointer;
    height: 5vh;
    width: 14vw;
    margin:auto;
    border-radius: 1em;
    background-color: #fcf43e;
}

.score {
    display: grid;
    place-content: center;
    text-align: center;
    border-color: black;
    height: 22vh;
    width:21vw;
    margin: 0 auto;
    border-radius: 1em;
    background-color: #75a9db;
}

/* Players Page */

.backButton {
    color: white;
    border-radius: 1.5em;
    height: 5vh;
    width: 40vw;
    background-color: #042940;
}